@import "./nullStyle.scss";
@import 'variables';

html {
  background-color: $darkest-blue;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}